@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lora&family=Passion+One&family=Playfair+Display&family=Roboto&display=swap');

nav {
    margin: 0;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 6px rgba(0, 0, 0 , 0.4);
    box-sizing: border-box;
    height: 50px;
    font-family: 'Lato', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0px auto;
    list-style: none;
    position: relative;
    top: 8px;
}

nav ul li {
    padding: 7px;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: gray;
}

nav:hover {
    background-color: white;
    color: black;
}

nav ul li a:hover,
nav ul li:first-child a{
    color: black;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.pageLogo {
    position: fixed;
    top: 5px;
    z-index: 11;
    margin-left: 40px;
    display: flex;
}

.pageLogo h1{
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
}


#burger {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    position: fixed;
    padding-top: 5px;
    top: 8px;
    right: 10px;
    z-index: 11;
}


#burger .dash {
    background-color: gray;
    width: 80%;
    height: 2px;
    margin: 4px 10%;
}

.side-menu {
    height: calc(100vh - 50px);
    width: 200px;
    position: fixed;
    right: 0;
    top: 50px;
    background-color: rgba(0, 0, 128, 0.7);
    padding: 20px;
    display: none;
}

.side-menu  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.side-menu  ul li {
    margin: 10px;
}

.side-menu  ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.side-menu  ul li a:hover{
    color: gray;
}



@media(min-width:680px) and (max-width:790px) {
    nav ul {
        width: 90%;
    }
}
@media(min-width:805px){
    #burger {
        display: none;
    }
    .side-menu {
        display: none;
    }
}
@media(max-width:804px) {
    nav ul {
        display: none;
    }
}